* {
    box-sizing: border-box;
    margin: 10px;
    margin-top: 0;

  }
  ol > li::marker {
    font-weight: bold;
  }


.topnav {
  background-color: rgb(67, 116, 221);
  overflow: hidden;
  margin: 0%;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}


  
  body
      {
      margin:
      50px;
      }
  
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 30%;
    padding: 10px;
    height: 150px; 
  }
  
  .officeuse{
  text-align: center;
  }
ol.a{
	list-style-type:
	decimal;
}
	
img{
	padding: 0%;
}
	
h1{
	margin-top:
	-20px;
	margin-bottom:
	50px;
	text-align:
	center;
	border-bottom:
	3px;
	font-size:
	50px;
}
	
body{
	margin:
	30px;
}
	
	

	
.card1 {
	margin-bottom:
	30px;
}
	
.signature{
	padding-left:
	180px;
	padding-bottom:
	30px;
}
	
.footer{
	text-align:
	center;
}
	
.info {
    padding-left:
	0px;
	margin-bottom:
	30px;
}
	
.notary {

	padding:
	30px;
	margin-bottom:
	30px;
	background-color: gray;
}

.btn1{
  /* border: none; */
  background-color: #65a6fc;
  color: black;
  padding: 15px 32px;
  text-align: center;
  display: block;
  font-size: 16px;
  margin: 10px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}
