
ol.a{
	list-style-type:
	decimal;
}
	
img{
	margin-bottom:
	10px;
	margin-top:
	20px;
}
	
h1{
	margin-top:
	-20px;
	margin-bottom:
	50px;
	text-align:
	center;
	border-bottom:
	3px;
	font-size:
	50px;
}
	
body{
	margin:
	30px;
}
	
.cardText{
	padding:
	15px;
}
	
.c{
	padding-left:
	180px;
	padding-top:
	30px;
}
	
.card1 {
	margin-bottom:
	30px;
}
	
.signature{
	padding-left:
	180px;
	padding-bottom:
	30px;
}
	
.footer{
	text-align:
	center;
}
	
.info {
    padding-left:
	0px;
	margin-bottom:
	30px;
}
	
.notary {
	padding:
	30px;
	margin-bottom:
	30px;
}
