*{
    margin: 0px;
    padding: 2px;
}
div{
    padding: 5px;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  .addy {
    display: block;
    width: 100%;
  }
  input{
    display: block;
    width: 50%;
  }
  .radios input{
    display:initial;
    width: 5%;
  }
